<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transfer form</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
<div class="container mt-5" style="max-width: 600px;">
    <h2 class="mb-4">Add new account</h2>
    <form id="account_form">
        <div class="form-group">
            <label for="account_type">Choose type of account</label>
            <select class="form-control" id="account_type">
                <option selected disabled>Select one...</option>
                <option>CHECKING</option>
                <option>CREDIT</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary w-100">Create</button>
    </form>
</div>

<script>
    async function getCookie(name) {
        try {
            const cookie = await cookieStore.get(name);
            return cookie ? cookie.value : null;
        } catch (error) {
            console.error('Cookie Store API not supported:', error);
            return getCookies()[name]; // Fallback
        }
    }

    document.getElementById('account_form').addEventListener('submit', async function (e) {
        e.preventDefault();

        // Get form values
        const account_type = document.getElementById('account_type').value;
        const user_token = await getCookie('user_token');
        try {

            // Prepare data to send
            const formData = {
                account_type : account_type,
                login : JSON.parse(atob(user_token)).data.client.login
            };
            // Send to Flask backend
            const response = await fetch('/create-new-account', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(formData)
            });

            const result = await response.json();

            if (response.ok && result.redirect_url) {
                window.location.href = result.redirect_url; // Perform redirect
            } else {
                alert('Error: ' + (result.message || 'Create account failed'));
            }
        } catch (error) {
            console.error('Error:', error);
        }
    });
</script>
</body>

</html>